*,
a,
input,
button,
img,
select,
a:focus,
input:focus,
button:focus,
img:focus,
select:focus {
    /* remove outline */
    outline: none !important;
}

html, body { height: 100%;}
body {position: relative;}

body {
    background: #f7f7f7;
    border-top: #ff944d solid 4px;
    color: #333;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal
}

p {
    line-height: 1.7;
}

a { color: #F1843B; }
a:hover,
a:focus {
    color: #F1843B;
    text-decoration: underline;
}

.clear {
    clear: both;
    overflow: hidden;
}

.floatnone {
    float: none !important;
}

.brand {
    cursor: default;
    color: #777 !important;
    font-family: 'Pacifico', cursive;
    text-decoration: none;
    -webkit-transition: all 0.08s;
    -moz-transition: all 0.08s;
    -ms-transition: all 0.08s;
    -o-transition: all 0.08s;
    transition: all 0.08s;
}

a.brand:hover,
a.brand:focus {
    cursor: pointer;
    color: #ff944d !important;
    text-decoration: none;
}

/* helper classes */
.center-block {
    float: none;
}

.text-dark {
    color: #333 !important;
}

.text-lg {
    font-size: 1.16em !important;
}

p.help-block.text-lg {
    margin-bottom: 25px !important;
}

.heading h1 {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* back button and title */
.back-block { position: relative; }

.back-block > a:not(.btn) {
    line-height: 26px;
}

/* footer */
ul.footer-list {
    margin-bottom: 0;
    margin-top: 0;
}

/* home */
p.home-brand {
    font-size: 2.4em;
    margin-top: 30px;
    margin-bottom: 25px;
}

/* login */
form#login-form,
form#register-form {
    padding-top: 30px;
    padding-bottom: 15px;
    padding-right: 25px;
    padding-left: 25px;
    background: #fff;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    box-shadow: 0 0 6px -3px #ccc;
    position: relative;
}

/* login caret */
@media (min-width: 768px) {
    form#login-form:after,
    form#login-form:before,
    form#register-form:after,
    form#register-form:before {
    	bottom: 100%;
    	left: 36%;
    	border: solid transparent;
    	content: " ";
    	height: 0;
    	width: 0;
    	position: absolute;
    	pointer-events: none;
    }

    form#register-form:after,
    form#register-form:before {
        left: 63%;
    }

    form#login-form:after,
    form#register-form:after {
    	border-color: rgba(255, 255, 255, 0);
    	border-bottom-color: #ffffff;
    	border-width: 13px;
    	margin-left: -13px;
    }
    form#login-form:before,
    form#register-form:before {
    	border-color: rgba(238, 238, 238, 0);
    	border-bottom-color: #e4e4e4;
    	border-width: 14px;
    	margin-left: -14px;
    }
}

/* login form-controls */
form#login-form .form-control,
form#register-form .form-control {
    background-color: #f7f7f7;
    border-color: #e4e4e4;
}

form#login-form .form-control:focus,
form#register-form .form-control:focus {
    border-color: #FFBD91;
}

/* dashboard */
ul.dashboard-house-list,
ul.house-members-list {
    margin-bottom: 40px;
}
ul.dashboard-house-list + div,
ul.house-members-list + div {
    /* button below list */
    margin-bottom: 25px;
}

ul.dashboard-house-list li,
ul.house-members-list li {
    text-align: center;
    margin-bottom: 6px;
}
ul.house-members-list li { text-align: left; }
ul.dashboard-house-list li:last-child,
ul.house-members-list li:last-child {
    border-bottom: 0;
}

/* dashboard list */
ul.dashboard-house-list li a {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 3px;
    border: 1px solid #e4e4e4;
    color: #777;
}
ul.dashboard-house-list li a:hover,
ul.dashboard-house-list li a:focus {
    text-decoration: none;
    border-color: #FFBD91;
    color: #F5A36C;
}

/* members list */
ul.house-members-list li > div {
    padding: 10px 15px;
    border-bottom: 1px solid #e4e4e4;
    position: relative;
}
ul.house-members-list li:last-child > div {
    border-bottom: none;
}

ul.house-members-list li > div > .house-members-list_name,
ul.house-members-list li > div > .house-members-list_email {
    display: block;
    padding-right: 55px; /* dont overwrite del btn */
}

ul.house-members-list li > div > .house-members-list_del-btn {
    position: absolute;
    top: 18px;
    right: 15px;
}

/* notifications */
ul.house-notifications-list { margin-top: 40px; }
ul.house-notifications-list > li {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}
ul.house-notifications-list > li:not(:last-child) {
    border-bottom: 1px solid #eee;
}
ul.house-notifications-list > li:hover {
    background-color: #f9f9f9;
}

ul.house-notifications-list div.notif-content {
    float: left;
    width: calc(100% - 40px);
}
ul.house-notifications-list div.notif-actions {
    float: right;
}
ul.house-notifications-list div.notif-content > a {
    display: inline-block;
    font-size: 90%;
    color: #555;
}

ul.house-notifications-list div.notif-content > .notif-date {
    display: block;
    font-size: 86%;
    color: #777;
}
ul.house-notifications-list div.notif-content > .notif-date > .icon {
    font-size: 105%;
    margin-right: 2px;
    display: inline-block;
}

label > span > i.icon {
    font-size: 1.1em;
    line-height: 16px;
    color: #5DBFFB;
}

ul.house-notifications-list div.notif-actions input[type=checkbox]:checked + span,
ul.house-notifications-list div.notif-actions input[type=checkbox]:checked + span > i.icon {
    color: #bbb;
}

ul.house-notifications-list div.notif-actions input[type=checkbox]:not(:checked) + span > i.icon.checked {
    display: none;
}
ul.house-notifications-list div.notif-actions input[type=checkbox]:checked + span > i.icon.checked {
    display: block;
}
ul.house-notifications-list div.notif-actions input[type=checkbox]:not(:checked) + span > i.icon.unchecked {
    display: block;
}
ul.house-notifications-list div.notif-actions input[type=checkbox]:checked + span > i.icon.unchecked {
    display: none !important;
}

/* little hack: weird problem here
the checked icon always displayed no matter what,
this little line fixes it */
i.icon.checked { display: none; }

ul.house-notifications-list div.notif-actions input[type=checkbox]:not(:checked):focus + span {
    color: #717171;
}
ul.house-notifications-list div.notif-actions input[type=checkbox]:not(:checked):focus + span > i.icon {
    color: #2B9FE6;
}

ul.house-notifications-list div.notif-actions input[type=checkbox]:checked:focus + span {
    color: #D46B25;
}
ul.house-notifications-list div.notif-actions input[type=checkbox]:checked:focus + span > i.icon {
    color: #777;
}


/* add housemate */
#add-housemate-form .email-label-group {
    margin-bottom: 0;
}
#add-housemate-form .email-label-group > label {
    display: block;
    padding-right: 31px;
}
#add-housemate-form .email-label-group > label > small {
    line-height: 20px;
    font-size: 90%;
}

#add-housemate-form > #email-inputs > .form-group { position: relative; }
#add-housemate-form > #email-inputs > .form-group > input {
    width: calc(100% - 28px);
}

#add-housemate-form > #email-inputs > .form-group > a.close-icon {
    color: #aaa;
    position: absolute;
    top: 17px;
    right: 20px;
    overflow: hidden;
    height: 11px;
    width: 11px;
    font-size: 2em;
}
#add-housemate-form > #email-inputs > .form-group > a.close-icon:hover,
#add-housemate-form > #email-inputs > .form-group > a.close-icon:focus {
    color: #666;
}
/* actual icon */
#add-housemate-form > #email-inputs > .form-group > a.close-icon:before {
    position: absolute;
    top: -8px;
}


/* create bill */
.bills-create_members-option-radio input[type=radio]:focus {
    outline: initial !important;
}

.bills-create_members-select-list > div.checkbox {
    padding: 0;
    border: 1px solid #e4e4e4;
    border-radius: 2px;
    /*display: table;*/
    display: inline-block;
    overflow: hidden;
    border-collapse: collapse;
}

.bills-create_members-select-list > div.checkbox > label {
    /*display: inline-block;*/
    display: table-cell;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 16px;
    background-color: rgb(248, 248, 248);
    border-right: 1px solid #e4e4e4;
    width: 75%;
}
.bills-create_members-select-list > div.checkbox > label > span {
    padding-left: 26px;
    position: relative;
    color: #ababab;
}
.bills-create_members-select-list > div.checkbox > label > span > i.icon {
    font-size: 1.5em;
    position: absolute;
    line-height: 16px;
    left: 0;
    top: -2px;
    color: #ddd;
}

.bills-create_members-select-list > div.checkbox input[type=checkbox] {
    /*visibility: hidden;
    display: none;*/
    /* if we hide the element we won't be able to focus it */
}

.bills-create_members-select-list > div.checkbox input[type=checkbox]:checked + span,
.bills-create_members-select-list > div.checkbox input[type=checkbox]:checked + span > i.icon {
    color: #F5A36C;
}

.bills-create_members-select-list > div.checkbox input[type=checkbox]:not(:checked) + span > i.icon.checked {
    display: none;
}
.bills-create_members-select-list > div.checkbox input[type=checkbox]:checked + span > i.icon.checked {
    display: block;
}
.bills-create_members-select-list > div.checkbox input[type=checkbox]:not(:checked) + span > i.icon.unchecked {
    display: block;
}
.bills-create_members-select-list > div.checkbox input[type=checkbox]:checked + span > i.icon.unchecked {
    display: none !important;
}

/* little hack: weird problem here
the checked icon always displayed no matter what,
this little line fixes it */
i.icon.checked { display: none; }

.bills-create_members-select-list > div.checkbox input[type=checkbox]:not(:checked):focus + span {
    color: #717171;
}
.bills-create_members-select-list > div.checkbox input[type=checkbox]:not(:checked):focus + span > i.icon {
    color: #6d6d6d;
}

.bills-create_members-select-list > div.checkbox input[type=checkbox]:checked:focus + span {
    color: #D46B25;
}
.bills-create_members-select-list > div.checkbox input[type=checkbox]:checked:focus + span > i.icon {
    color: #D46B25;
}

.bills-create_members-select-list > div.checkbox > .cost-container {
    display: table-cell;
}
.bills-create_members-select-list > div.checkbox > .cost-container > input[type=text] {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
}
.bills-create_members-select-list > div.checkbox > .cost-container > input[type=text]:disabled {
    color:#ccc;
}

.panel-body_bills-summary {
    box-shadow: inset 0px -14px 15px -20px rgb(115, 115, 115);
    padding-top: 25px;
    padding-bottom: 20px;
}

.panel-body_bills-summary .data-value {
    font-size: 1.3em;
    font-weight: 500;
    display: block;
}
.panel-body_bills-summary .data-label {
    display: block;
    font-weight: 500;
    font-size: 0.7em;
    color: #999;
    line-height: 12px;
    text-transform: uppercase;
}

#billsummary-app.data-stats h5 {
    font-size: 90%;
    margin-bottom: 5px;
}

#billsummary-app.data-stats > .row:last-child {
    margin-bottom: -15px;
}

#billsummary-app.data-stats .panel-body {
    padding-top: 10px;
}

/* bills index */
#billindex-app .bills-table tr.bill-el:hover,
#billindex-app .bills-table tr.bill-el:focus {
    cursor: pointer;
    background: #f9f9f9;
}

#billindex-app .bills-table tr.bill-el,
#billindex-app .bills-table tr.bill-el td {
    position: relative;
}

#billindex-app .bills-table i.icon.has-paid {
    font-size: 1.9em;
    position: absolute;
    top: 1px;
    left: 18px;
}


.navbar-default {
    background-color: rgba(0, 0, 0, 0.78);
    border: none;
}
.navbar-default .dropdown-menu.opaque {
    background-color: #0D0E0E;
    border-color: #0D0E0E;
}
.navbar-default.opaque {
    background-color: #252729;
}

.navbar-brand {
    font-size: 1.6em;
    padding: 9px 15px;
    height: initial;
    line-height: 20px;
}

@media all and (max-width: 768px) {
    .navbar-default .navbar-brand {
        padding-top: 13px;
        padding-bottom: 13px;
    }
}
@media all and (min-width: 768px) and (max-width: 858px) {
    .navbar-default .navbar-brand {
        overflow: hidden;
    }
}
@media all and (max-width: 768px) {
    .navbar-default .navbar-toggle {
        margin-top: 12px;
        margin-bottom: 12px;
    }
}


/* apply a margin to navbar elements on normal displays */
@media all and (min-width: 768px) {
    .navbar-default .navbar-nav > li {
        margin-left: 10px;
    }

    .navbar-default .navbar-nav > li:last-child {
        margin-right: 10px;
    }
}

@media all and (max-width: 768px) {
    /* remove margin on side */
    /* add margin between elements */
    .navbar-default .navbar-nav > li {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 8px;
    }

    /* remove from last element */
    .navbar-default .navbar-nav > li:last-child {
        margin-bottom: 0;
    }
}

.navbar-default .navbar-nav > li > a {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.6px;
    word-spacing: -0.5px;
    text-decoration: none;
    -webkit-transition: all 0.08s;
    -moz-transition: all 0.08s;
    -ms-transition: all 0.08s;
    -o-transition: all 0.08s;
    transition: all 0.08s;
}
@media all and (max-width: 768px) {
    .navbar-default .navbar-nav > li.active > a {
        background-color: #868686;
    }
}
@media all and (min-width: 768px) {
    .navbar-default .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .navbar-default .navbar-nav > li > a[aria-expanded="true"] {
        backround-color: white !important;
        background: rgba(0, 0, 0, 0.65) !important;
        color: #B3D7FF !important;
    }
}

.navbar-brand > img {
    width: 100px;
}


.navbar-main {
    background-color: transparent;
    border: 0;
    margin-top: 20px;
}
.navbar-main .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}
@media (max-width: 768px) {
    .navbar-main .navbar-nav {
        width: 100%;
    }
}

/* center brand link and buttons */
@media all and (max-width: 768px) {
    .navbar-main .navbar-header,
    .navbar-main .navbar-container {
        margin-left: 15px;
        margin-right: 15px;
        text-align: center;
    }

    .navbar-main .navbar-header .navbar-brand {
        float: none;
    }
}

/* shift brand link to match content pagination */
@media all and (min-width: 768px) {
    .navbar-main .navbar-header {
        margin-left: 15px;
    }
}

.navbar-main .navbar-container.navbar-center {
    text-align: center;
}
.navbar-main .navbar-nav > li > a {
    color: #555;
    border-radius: 3px;
}
.navbar-main .navbar-nav > li > a:hover,
.navbar-main .navbar-nav > li > a:focus {
    background: transparent;
    color: #ff944d;
}
.navbar-main .navbar-nav > li.active > a,
.navbar-main .navbar-nav > li.active > a:hover,
.navbar-main .navbar-nav > li.active > a:focus {
    color: #fff;
    background: #ff944d;
    border-color: transparent;
}


ul.list-container li {
    margin-bottom: 15px;
}

ul.list-container li input[type=text] {
    padding: 6px;
    width: 500px;
}

/* Bootstrap overrides */
.form-control:focus {
    border-color: #ff944d;
}

/* list groups */
.list-group-item {
    border-color: #e4e4e4;
}
.list-group-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.list-group-item:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
    background-color: #fff;
    border-color: #ddd;
    color: #F1843B;
}

/* nav pills */
.nav-pills {
    margin-bottom: 6px;
}
.panel-heading .nav-pills {
    margin-bottom: -1px;
}
.panel-heading.has-nav {
    padding: 0;
}

.panel-heading .nav-pills > li > a {
    border-radius: 0;
    color: #555;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.6px;
    word-spacing: -0.5px;
    text-decoration: none;
    -webkit-transition: all 0.08s;
    -moz-transition: all 0.08s;
    -ms-transition: all 0.08s;
    -o-transition: all 0.08s;
    transition: all 0.08s;
    background: transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.panel-heading .nav-pills > li > a:hover,
.panel-heading .nav-pills > li > a:focus {
    background: transparent;
    color: #ff944d;
}

.panel-heading .nav-pills > li.active > a,
.panel-heading .nav-pills > li.active > a:hover,
.panel-heading .nav-pills > li.active > a:focus {
    background: #fff;
    color: #444;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.panel-heading .nav-pills:not(.pull-right) > li.active:first-child > a {
    border-left-color: transparent;
}

.panel-heading .nav-pills.pull-right > li.active:last-child > a {
    border-right-color: transparent;
}

/* panels */
.panel-default {
    border-color: #e4e4e4;
    border-radius: 3px;
    overflow: hidden;
}

.panel-default h1,
.panel-default h2,
.panel-default h3,
.panel-default h3,
.panel-default h4,
.panel-default h5 {
    font-weight: 500;
}

.panel-default h1 + p.subtitle-p,
.panel-default h2 + p.subtitle-p,
.panel-default h3 + p.subtitle-p,
.panel-default h3 + p.subtitle-p,
.panel-default h4 + p.subtitle-p,
.panel-default h5 + p.subtitle-p {
    line-height: 1.7;
    margin-top: -30px;
    margin-bottom: 20px;
}

.panel-default h1,
.panel-default h2,
.panel-default h3 {
    margin-top: 20px;
    margin-bottom: 35px;
}

.panel-default h5 {
    margin-top: 0;
}

.panel-default .subtitle {
    margin-top: 35px;
    margin-bottom: 10px;
}

.panel-default ul li.empty-list {
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
}

p.lead {
    line-height: 37px;
    color: #6b6b6b;
    font-weight: 200;
    text-rendering: geometricPrecision;
}

/* new style */
.form-group-xl .form-control {
  height: 53px;
  padding: 10px 16px;
  font-size: 19px;
  line-height: 1.33333; }

.form-group .form-control,
.form-group-lg .form-control,
.form-group-xl .form-control {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important; }

.form-group .btn-t-default[type=submit],
.form-group-lg .btn-t-default[type=submit],
.form-group-xl .btn-t-default[type=submit] {
  background: #7692B2;
  border: 1px solid #7F796E;
  font-weight: 200;
  color: #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important; }
  .form-group .btn-t-default[type=submit]:active,
  .form-group-lg .btn-t-default[type=submit]:active,
  .form-group-xl .btn-t-default[type=submit]:active {
    background: #58789d;
    border-color: #645f56; }

.checkbox-inline,
.has-success .control-label,
.has-success .help-block,
.has-success .radio,
.has-success .radio-inline,
.has-success.checkbox label,
.has-success.checkbox-inline label,
.has-success.radio label,
.has-success.radio-inline label {
  color: #33A735; }

.btn {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px; }

.btn-t-default,
.btn-t-default:hover {
  background: #7692B2;
  border: 1px solid #7692B2;
  font-weight: 200;
  color: #fff;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important; }
  .btn-t-default:hover,
  .btn-t-default:hover:hover {
    background: #809ab8; }
  .btn-t-default:focus,
  .btn-t-default:hover:focus {
    background: #6988ab;
    border-color: #6f8dae;
    color: #fff; }
  .btn-t-default:active,
  .btn-t-default:hover:active {
    background: #58789d;
    border-color: #6988ab;
    color: #fff; }

.btn-t-plain,
.btn-t-plain:hover {
  background: #efefef;
  border: 1px solid #efefef;
  font-weight: 200;
  color: #797979;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important; }
  .btn-t-plain:focus,
  .btn-t-plain:hover:focus {
    background: #e5e5e5;
    border-color: #e0e0e0;
    color: #797979; }
  .btn-t-plain:active,
  .btn-t-plain:hover:active {
    background: #e5e5e5;
    border-color: #d5d5d5;
    color: #797979; }

.btn-t-error,
.btn-t-error:hover {
  background: #E47373;
  backrgound: -webkit-linear-gradient(#E47373, #E06767);
  background: -o-linear-gradient(#E47373, #E06767);
  background: -moz-linear-gradient(#E47373, #E06767);
  background: linear-gradient(#E47373, #E06767);
  border: 1px solid #E47373;
  font-weight: 200;
  color: #fff;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important; }
  .btn-t-error:focus,
  .btn-t-error:hover:focus {
    background: #e16262;
    backrgound: -webkit-linear-gradient(#e16262, #dd5656);
    background: -o-linear-gradient(#e16262, #dd5656);
    background: -moz-linear-gradient(#e16262, #dd5656);
    background: linear-gradient(#e16262, #dd5656);
    border-color: #e26a6a;
    color: #fff; }
  .btn-t-error:active,
  .btn-t-error:hover:active {
    background: #dd5151;
    backrgound: -webkit-linear-gradient(#df5959, #db4e4e);
    background: -o-linear-gradient(#df5959, #db4e4e);
    background: -moz-linear-gradient(#df5959, #db4e4e);
    background: linear-gradient(#df5959, #db4e4e);
    border-color: #e16262;
    color: #fff; }

.btn-t-contrast {
  background: transparent;
  border: 1px solid #565a5c;
  border-bottom-color: #383b3c;
  background-color: #565a5c;
  color: #fff !important;
  /* Firefox requires the important attribute */
  text-shadow: none; }
  .btn-t-contrast:hover, .btn-t-contrast:focus {
    border-color: #676c6e;
    border-bottom-color: #444749;
    background-color: #676c6e;
    color: #fff; }
  .btn-t-contrast:active {
    border-color: #383b3c;
    background-color: #383b3c;
    color: #fff; }

.btn-t-semi-transparent {
  background: rgba(255, 255, 255, 0.5);
  border-style: none;
  color: #fff;
  text-shadow: none; }
  .btn-t-semi-transparent:active, .btn-t-semi-transparent:hover, .btn-t-semi-transparent:focus {
    background-color: rgba(0, 0, 0, 0.62);
    color: #fff; }

.btn-t-red-outline {
    background: transparent;
    border: 1px solid #ED4F32;
    background-color: #fff;
    color: #ED4F32;
    /* Firefox requires the important attribute */
    text-shadow: none;
}
.btn-t-red-outline:hover,
.btn-t-red-outline:focus,
.btn-t-red-outline:active {
    border-color: #ED4F32;
    background-color: #ED4F32;
    color: #fff;
}
.btn-t-red-outline:active {
    border-color: #C55743;
    color: #fff;
}

.form-container p.lead {
  font-size: 17px;
  line-height: 30px; }

form.breath-form .form-group {
  margin-bottom: 30px; }

.dropdown-menu {
  border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0 0 2px 2px;
  min-width: 100%; }
  .dropdown-menu li > a {
    font-weight: 100;
    letter-spacing: 0.7px;
    word-spacing: 1px;
    padding: 5px 20px; }
  .dropdown-menu.opaque {
    background-color: #252729;
    border-color: #252729; }
    .dropdown-menu.opaque a {
      color: #ddd; }
      .dropdown-menu.opaque a:hover {
        color: #B3D7FF;
        background: transparent; }

.alert-success {
  border-left: 3px solid #3c763d;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px; }

.alert-warning {
  border-left: 3px solid #8a6d3b;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px; }

.carousel-indicators li {
  width: 9px;
  height: 9px;
  border-color: #B1B1B1;
  background: #B1B1B1; }
  .carousel-indicators li:hover {
    background: #A2A2A2;
    border-color: #A2A2A2; }
  .carousel-indicators li.active {
    width: 11px;
    height: 11px;
    border-color: white;
    background: transparent; }
